# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# Files from Forge MDK
forge*changelog.txt

# Data gen cache
src/generated/resources/.cache/*

